.container
  .initial_image
    = image_tag 'Rectangle.png'
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, class: 'text'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text_box'
      %hr
    .field
      = f.label :password, class: 'text'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'text_box'
      %hr
    .forgotpassword
      = render "devise/shared/links", class: 'links'
    .actions
      = f.submit " LOGIN", class: 'login-btn'
